@import url(style.css);

.shown {
  display: block;
}

.hidden {
  display: none;
}

#invalid_login {
  color: var(--color-off-white);
}

label {
  display: none;
}

.error_msg {
  font-family: var(--font-paragraph);
  font-size: 0.9rem;
  margin: 1rem 0 0 0;
  text-align: center;
}

/* Makes the two sections flex in the main tag */
main {
  display: flex;
  background-color: var(--color-grey);
  flex-direction: column;
}

section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.front-left #logo {
  position: absolute;
  z-index: 1;
  top: 45%;
  /* width: 70%; */
  width: clamp(15rem, 8vw, 20rem);
  left: 5%;
}

.front-left #front-img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  object-position: 0% 15%;
}

.front-left {
  position: relative;
  z-index: 1;
  height: 20vh;
}

.front-left::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-grey);
  opacity: 0.5;
  z-index: 0;
}

.front-left p {
  font-family: var(--font-header);
  position: absolute;
  text-transform: uppercase;
  left: 0%;
  bottom: 30%;
  width: 0;
  line-height: 1.3;
  opacity: 70%;
  z-index: 1;
  font-size: 4rem;
  display: none;
}

.front-left p span {
  font-style: italic;
}

.front-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  padding: 0 20px;
}

.front-right .form-login-signup {
  max-width: 400px;
  margin: 0 auto;
}

.front-right .form-login-signup span {
  color: var(--color-white);
}

.front-right h1 {
  text-transform: capitalize;
}

.front-right p {
  margin: 0 0 10px 0;
}

.front-right input {
  width: 100%;
  height: 50px;
  margin: 1rem 0 0 0;
  background-color: var(--color-dark-grey);
  border: none;
  opacity: 50%;
  padding-left: 1rem;
}

.front-right input::aria-placeholder {
  padding: 0 0 0 10px;
  font-size: 1rem;
}

.front-right input[type="email"],
.front-right input[type="password"] {
  color: var(--color-off-white);
  font-size: 1rem;
  opacity: 80%;
}

.front-right form p {
  padding: 10px 0 0 0;
  text-align: center;
}

/* Tablet */

@media only screen and (max-width: 1024px) {
  section {
    height: 50vh;
  }
}

/* ---------- Media queries Desktop ---------- */
@media screen and (min-width: 740px) {
  main {
    flex-direction: row;
  }

  .front-left {
    height: 100vh;
  }

  .front-left p {
    display: block;
    top: 50%;
    left: 5%;
    font-size: clamp(4.2rem, 6vw, 8rem);
  }

  .front-left #front-img {
    height: 100vh;
    object-position: 40% 0%;
  }

  .front-right {
    height: 100vh;
  }

  .front-left #logo {
    left: 10%;
  }

  .front-left #logo {
    top: 3%;
    /*  width: 60%; */
    left: 6%;
  }
}

@media screen and (min-width: 1200px) {
  .front-left #logo {
    top: 3%;
    /*    width: 45%; */
    left: 6%;
  }

  .front-left p {
    top: 30%;
    left: 5%;
  }
}
